################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Wust_8_BeyondLimits/StoreOnline/.vs
/Wust_8_BeyondLimits/StoreOnline/packages
/Wust_8_BeyondLimits/StoreOnline/StoreOnline/.vs
/Wust_8_BeyondLimits/StoreOnline/StoreOnline/bin
/Wust_8_BeyondLimits/StoreOnline/StoreOnline/Content
/Wust_8_BeyondLimits/StoreOnline/StoreOnline/fonts
/Wust_8_BeyondLimits/StoreOnline/StoreOnline/obj/Debug
/Wust_8_BeyondLimits/StoreOnline/StoreOnline/packages
/Wust_8_BeyondLimits/StoreOnline/StoreOnline/Properties
/Wust_8_BeyondLimits/StoreOnline/StoreOnline/Web.Release.config
/Wust_8_BeyondLimits/StoreOnline/StoreOnline/Web.Debug.config
/Wust_8_BeyondLimits/StoreOnline/StoreOnline/Web.config
/Wust_8_BeyondLimits/StoreOnline/StoreOnline/StoreOnline.sln
/Wust_8_BeyondLimits/StoreOnline/StoreOnline/StoreOnline.csproj.user
/Wust_8_BeyondLimits/StoreOnline/StoreOnline/StoreOnline.csproj
/Wust_8_BeyondLimits/StoreOnline/StoreOnline/packages.config
/Wust_8_BeyondLimits/StoreOnline/StoreOnline/NLog.xsd
/Wust_8_BeyondLimits/StoreOnline/StoreOnline/NLog.config
/Wust_8_BeyondLimits/StoreOnline/StoreOnline/Global.asax.cs
/Wust_8_BeyondLimits/StoreOnline/StoreOnline/Global.asax
/Wust_8_BeyondLimits/StoreOnline/StoreOnline/ApplicationInsights.config
/Wust_8_BeyondLimits/StoreOnline/StoreOnline/2017-07-13.log
/Wust_8_BeyondLimits/StoreOnline/StoreOnline/2017-07-12.log
/Wust_8_BeyondLimits/StoreOnline/StoreOnline.sln
/Wust_8_BeyondLimits/StoreOnline/StoreOnline/scripts/ai.0.15.0-build58334.js
/Wust_8_BeyondLimits/StoreOnline/StoreOnline/scripts/ai.0.15.0-build58334.min.js
/Wust_8_BeyondLimits/StoreOnline/StoreOnline/scripts/bootstrap.js
/Wust_8_BeyondLimits/StoreOnline/StoreOnline/scripts/bootstrap.min.js
/Wust_8_BeyondLimits/StoreOnline/StoreOnline/scripts/jquery-3.1.1.intellisense.js
/Wust_8_BeyondLimits/StoreOnline/StoreOnline/scripts/jquery-3.1.1.min.js
/Wust_8_BeyondLimits/StoreOnline/StoreOnline/scripts/jquery-3.1.1.min.map
/Wust_8_BeyondLimits/StoreOnline/StoreOnline/scripts/jquery-3.1.1.slim.js
/Wust_8_BeyondLimits/StoreOnline/StoreOnline/scripts/jquery-3.1.1.slim.min.js
/Wust_8_BeyondLimits/StoreOnline/StoreOnline/scripts/jquery-3.1.1.slim.min.map
/Wust_8_BeyondLimits/StoreOnline/StoreOnline/scripts/dataTables.bootstrap.js
/Wust_8_BeyondLimits/StoreOnline/StoreOnline/scripts/jquery.min.js
