<script src="~/scripts/jquery-3.1.1.js"></script>

<script>
        function Check() {

            var flag=1;
            var UserName = document.getElementById("UserName");
            var Password = document.getElementById("Password");
            var Code = document.getElementById("Code");

            if (UserName.value == "" )
            {
            	flag=0;
                document.getElementById("UserNameL").innerText = "*用户名不能为空";
            }

            if (Password.value == "")
            {
            	flag=0;
                document.getElementById("PasswordL").innerText = "*密码不能为空";
            }

            if (flag==1){
            	MYGET(UserName.value,Password.value,Code.value);
            	return true;
            }
            else{
            	return false;
            }
        }

        function mouseover(x) {
            x.style.background = "aqua";
        }
        function mouseout(x) {
            x.style.background = "beige";
        }

        function _focus(ipt) {
            var nextnode = ipt.nextElementSibling;
            nextnode.innerText = "";
        }


        function MYGET(x, y,z) {
            $.ajax({
                type: "post", url: "/User/Login", data: "UserName="+x+"&Password="+ y+"&code="+z, success: function (rm) {
                    //alert(JSON.stringify(code));
                    if(rm.flag)
                    {
                        window.location.href = rm.Message;
                    }
                    else{
                        document.getElementById("ErrorL").innerText = rm.Message;
                    }
                }, dataType: "json"
            })
        }

</script>
<script>
    $("input")
</script>

<div style="width:70%; float:right"class="form-horizontal">

    <form  >
        <div><h2>登陆</h2></div>
        <div>
            <label id="ErrorL" style="color:red"></label>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-md-6">
                姓名：<input type="text" class="form-control" name="UserName" id="UserName" onfocus="_focus(this)" placeholder="请输入用户名" />
                <lable id="UserNameL" class="text-danger" ></lable>
            </div>
        </div>

            <div class="form-group">
                <div class="col-md-6">
                    密码：<input type="password" class="form-control" name="Password" id="Password" onfocus="_focus(this)" placeholder="请输入密码" />
                    <lable class="text-danger" id="PasswordL"></lable><br />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    验证：<input type="text" id="Code" style="width:75px;height:30px;" />
                    <img id="GL_StandardCode"  style="cursor: pointer;" src="@Url.Action("GetCode", "User")?t=@DateTime.Now.Ticks" title="看不清，点击换一张" />
                </div>
            </div>
            
        <div class="form-group">
            <div class="col-md-6">
                <input type="button" value="Login" onclick="Check()" onmouseout="mouseout(this)" onmouseover="mouseover(this)" class="form-control"  />
                <label>  </label>
            </div>
        </div>

        <div  class="form-group">
            <div class="col-md-6">
                <a href="/User/Register">
                    <input type="button" value="Register" onmouseout="mouseout(this)" onmouseover="mouseover(this)" class="form-control"/>
                </a>
            </div>
        </div>
    </form>
  <hr />
</div>


<script>
    $("#GL_StandardCode").click(function () {
        var newSrc = "@Url.Action("GetCode", "User")" + "?t=" + (new Date()).getTime();
        this.src=newSrc;
        return false;
    });
</script>

@*<input type="submit" value="Register" onclick="window.location.href('/User/Register') " onmouseout="mouseout(this)" onmouseover="mouseover(this)" class="btn btn-default" />
*@