<script src="~/scripts/jquery-3.1.1.js"></script>
<style>
    label .hid {
        display:none;
    }
    label .show{
        display:normal;
        color:red;
    }

</style>
    <script>
        function Check() {
            var reg = /^([a-zA-Z0-9_-])+@@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/;
            var UserName = document.getElementById("UserName");
            var Code = document.getElementById("Code");
            var email = document.getElementById("Email");
            var pwd1 = document.getElementById("Password");
            var pwd2 = document.getElementById("RePassword");
            var flag = 0;
            
            if (UserName.value == "" )
            {
                document.getElementById("UserNameL").innerText = "*用户名不能为空";
            }
            if (pwd1.value == "" || pwd2.value == "")
            {
                document.getElementById("PasswordL").innerText = "*密码不能为空";
            }
           
           
            if (pwd1.value != pwd2.value) {
                document.getElementById("PasswordL").innerText = "*两次密码输入不正确！"
            }
            else {
                flag = 1+flag;
            }

            if (email.value == ""||email.value==null) {
                document.getElementById("EmailL").innerText = "*Email不能为空！"
            }
            else  if (reg.test(email.value))
            {
                flag = flag + 1;
            }
            else
            {
                falg = 0;
                document.getElementById("EmailL").innerText = "*Email格式如：1194717@qq.com！";
            }

           if (flag == 2)
            {
                MYGET(UserName.value, pwd1.value, email.value, Code.value);
            }
        }


        function mouseover(x) {
            x.style.background = "aqua";
            // x.css("background-color", "ghostwhite");
        }
        function mouseout(x) {
            x.style.background = "beige";
            // x.css("background-color","red");
        }

        function _focus(ipt) {
            var nextnode = ipt.nextElementSibling;
            nextnode.innerText = "";
        }

        function MYGET(x, y, z, c) {
            $.ajax({
                type: "post", url: "/User/Register", data: "UserName="+x+"&Password="+ y+"&Email="+z+"&code="+ c , success: function (rm) {
                    //alert(JSON.stringify(code));
                    if(rm.flag)
                    {
                        window.location.href = rm.Message;
                    }
                    else{
                        document.getElementById("ErrorL").innerText = rm.Message;
                    }
                }, dataType: "json"
            })
        }

       

        function GetCode() {
            $.ajax({
                type: "post", url: "/User/GetCode", data: null, success: function (data) {
                    document.getElementById("CodeL").innerText = data;
                }, dataType: "json"
            });
        }
       /*
        $(document).ready(function () {
            $("input").focus(function () {
                $(this.nextElementSibling.nextElementSibling).css("show")
            })
        })
       
        $(document).ready(function () {
            $("input").blur(function () {
                $(this.nextElementSibling.nextElementSibling).css("hid")
            })
        })
         */
    </script>
    <div  style="align-content:center">
    <form >
        <fieldset>
            <legend align="center">注册</legend>
            <div>
                <label id="ErrorL" style="color:red"></label>
            </div>
            <div class="form-group" >
                姓名：<input type="text" name="UserName" id="UserName" onfocus="_focus(this)"  placeholder="请输入用户名" /><label id="UserNameL" style="color:red"></label><br />
            </div>
            <div class="form-group" >
                密码：<input type="password" name="Password" id="Password" onfocus="_focus(this)" placeholder="请输入密码"/><lable style="color:red" id="PasswordL"></lable><br />
            </div>
            <div class="form-group" >
                密码：<input type="password" name="RePassword" id="RePassword" placeholder="请确认密码"/><br />
            </div>
            <div class="form-group" >
                邮箱：<input type="text" name="Email" id="Email" onfocus="_focus(this)" placeholder="119@qq.com"/><lable style="color:red" id="EmailL"></lable><br />
            </div>
            <div class="form-group" >
                验证：<input type="text" id="Code" style="width:50px" />
                <img id="GL_StandardCode"  style="cursor: pointer;" src="@Url.Action("GetCode", "User")?t=@DateTime.Now.Ticks" title="看不清，点击换一张" />
                @*<label id="CodeL" class="label" style="color:red"></label><input type="button" class="btn btn-default" onclick="GetCode()" value="获取注册码" />*@
            </div>
            <div class="form-group" >
                <input type="button" value="Register"  onclick="Check()" onmouseout="mouseout(this)" onmouseover="mouseover(this)" class="btn btn-default" />
            </div>
        </fieldset>
    </form>
   
</div>
<script>
    $("#GL_StandardCode").click(function () {
        var newSrc = "@Url.Action("GetCode", "User")" + "?t=" + (new Date()).getTime();
        this.src=newSrc;
        return false;
    });
</script>