<script src="~/scripts/jquery-3.1.1.js"></script>
<script>
    function Check() {
        var reg = /^([a-zA-Z0-9_-])+@@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/;
        var BookName = document.getElementById("BookName");
        var BookType = document.getElementById("BookType");
        var BookIntroduce = document.getElementById("BookIntroduce");
        var Price = document.getElementById("Price");
        var BookAdress = document.getElementById("BookAdress");
        var flag = 0;

        if (BookName.value == "") {
            document.getElementById("BookNameL").innerText = "*书名不能为空";
            flag = flag + 1;
        }
        if (BookType.value == "") {
            document.getElementById("BookTypeL").innerText = "*书的分类不能为空";
            flag = flag + 1;
        }


        if (BookIntroduce.value=="") {
            document.getElementById("BookIntroduceL").innerText = "*书籍介绍不能为空！";
            flag = flag + 1;
        }

        if (Price.value == "" ) {
            document.getElementById("PriceL").innerText = "*价格不能为空！";
            flag = flag + 1;
        }
        if (BookAdress.value == "") {
            document.getElementById("BookAdressL").innerText = "*书籍地址不能为空！";
            flag = flag + 1;
        }
        if (flag == 0) return true;
        else return false;
    }

</script>
<div style="width:80%;float:right;"class="form-horizontal">
        <form action="/Admin/UpLoadBook" method="post" enctype="multipart/form-data" style="width:400px;">
            <div class="form-group">
                <h2>添加图书</h2>
            </div>
            <hr />
            <div>
                <lable style="color:red">@ViewData["Message"]</lable>
            </div>
            <div class="form-group">
                <label for="BookName">书名</label>
                <input type="text" name="BookName" class="form-control" id="BookName" placeholder="BookName">
                <label id="BookNameL" style="color:red"></label>
            </div>
            <div class="form-group">
                <label for="BookType">图书类别</label>
                <input type="text" name="BookType" class="form-control" id="BookType" placeholder="BookType">
                <label id="BookTypeL" style="color:red"></label>
            </div>
            <div class="form-group">
                <label for="BookIntroduce">图书介绍</label>
                <input type="text" name="BookIntroduce" class="form-control" id="BookIntroduce" placeholder="BookIntroduce">
                <label id="BookIntroduceL" style="color:red"></label>
            </div>
            <div class="form-group">
                <label for="exampleInputPrice">图书定价</label>
                <input type="text" name="Price" class="form-control" id="Price" placeholder="Price">
                <label id="PriceL" style="color:red"></label>
            </div>
            <div>
                <img src="" id="img1" />
            </div>
            <div class="form-group">
                <label for="BookAdress">图片预览</label>
                <input type="file" name="BookAdress" id="BookAdress" class="btn btn-default" />
                <label id="BookAdressL" style="color:red"></label>
            </div>
            <div class="form-group">
                <input type="submit" value="提   交" onclick="return Check()"  style="width:200px;"class="btn btn-default" />
            </div>
        </form>
    <hr />
</div>

@*预览*@
<script type="text/javascript">
    $(function () {
        $("#BookAdress").on("change", function () {
            var file = this.files[0];
            if (this.files && file) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#img1').attr('src', e.target.result);
                    $('#fn').text(file.name);
                    $('#fs').text(file.size + "bytes");
                }
                reader.readAsDataURL(file);
            }
        })
    })
</script>


